%section#top-header.container-fluid
  .main-header_wrapper.row
    .parent-container
      .col-md-5.col-md-offset-1
        %h4 COMMUTEWORKS CARPOOL PROGRAM
          
    %section#sub-header.row
      .white.col-md-2.col-md-offset-6
        = link_to 'View Carpools', carpools_path
      .white.login.col-md-2
        = link_to 'Log In', login_path
      .white.login.col-md-2
        = link_to 'Sign Up', register_path   