.padded-column
  %section
    - @info_requests.each do |info_request|
      .row
        .origin.col-md-12
          %h5 Request made by #{info_request.user.contact_info}
      .row
        .col-md-9
          Information requested for Carpool # #{info_request.carpool_id}
          %br
          Carpool registered by #{info_request.carpool.user.contact_info}
        -if info_request.info_sent?  
          Information Sent       
        -else
          .col-md-3
            .btn-primary.btn.white
              = link_to "Mark as Sent", admin_sent_info_path(info_request.id), method: :post       
      %hr      